<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First micropost:</strong>
  <p></p>
  <p>@user :   <%= @user %> </p>
  <p>@user.microposts :  <%= @user.microposts %></p>  
  <p>@user.microposts.first  :  <%= @user.microposts.first %> </p>  
  <p>@user.microposts.first.content  :  <%= @user.microposts.first.content %> </p> 
  <p></p>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
